<html>
<head>
    <title>List</title>
    <meta charset="UTF-8">
</head>
<body>
{% for item in items %}
    <h1>{{ item.title }}</h1>
    <p>
        {{ item.message }}
    </p>
{% endfor %}
</body>
</html>